$themes:(
    light:(
        textColor:black,
        textSoft:gray,
        bgColor:white,
        bgSoft:rgb(235, 235, 235),
        logo:rgb(58, 181, 70),
        border:lightgray
    ),
    dark:(
        textColor:white,
        textSoft:rgb(200, 200, 200),
        bgColor:#121212,
        bgSoft:rgb(49, 49, 49),
        logo:rgb(58, 181, 70),
        border:lightgray
    )
);

@mixin themify($themes) {
    @each $theme, $map in $themes {
      .theme-#{$theme} & {
        $theme-map: () !global;
        @each $key, $submap in $map {
          $value: map-get(map-get($themes, $theme), '#{$key}');
          $theme-map: map-merge(
            $theme-map,
              (
                $key: $value,
              )
            ) !global;
          }
          @content;
          $theme-map: null !global;
        }
     }
  }
  @function themed($key) {
    @return map-get($theme-map, $key);
  }